.container {
  display: flex;
}
.container.LoggedIn {
  display: none;
}
@media screen and (min-width: 1280px) {
  .container {
    align-items: center;
    position: relative;
    top: 5px;
    left: 18px;
    border-left: 2px solid var(--greyColor);
    padding-left: 20px;
    height: 32px;
  }
}
