.container {
  position: relative;
}
.addForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .addForm {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    gap: 20px;
    margin: 0;
    flex-direction: row;
    width: 100%;
    max-width: 800px;
    padding: 32px 20px;
  }
}
.modalForm {
  display: none;
}
