.container {
  display: none;
}

.container.LoggedIn.underBar {
  display: flex;
}

.container.LoggedIn.header {
  display: none;
}

@media screen and (min-width: 768px) {
  .container.LoggedIn.underBar {
    display: none;
  }
  .container.LoggedIn.header {
    display: flex;
    margin-right: 48px;
  }
}

.title {
  display: block;
  height: 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 32px;
}

.userName {
  padding-right: 16px;
  color: var(--mainTextColor);
  border-right: 1px solid var(--greyColor);
}

.logOutBtn {
  padding: 0;
  padding-left: 16px;
  border: none;
  background-color: transparent;
  color: var(--greyTextColor);
}
