.container {
  display: flex;
}
@media screen and (min-width: 1280px) {
  .container {
    justify-content: flex-end;
    padding-right: 50px;
  }
}
.title {
  display: block;
  height: 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 32px;
}

.userName {
  padding-right: 16px;
  color: var(--mainTextColor);
  border-right: 1px solid var(--greyColor);
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
}

.logOutBtn {
  padding: 0;
  padding-left: 16px;
  border: none;
  background-color: transparent;
  color: var(--exitBtnColor);
  cursor: pointer;
}
